.pager {
	margin-top: 20px;
}
.pager .pager-stats {
	color: #666;
	font-style: italic;
	font-size: 90%;
	text-align: right;
}
.pager UL {
	margin: 0;
	padding: 0;
	list-style: none;
}
.pager LI {
	float: left;
	height: 24px;
	background-color: #f8f8f8;
	line-height: 24px;
}
.pager LI.active {
	border-top: 1px solid #fff;
	background-color: #fff;
}
.pager LI STRONG,
.pager LI A {
	display: block;
	float: left;
}
.pager LI SPAN {
	display: block;
	float: left;
	padding: 0 8px 0 8px;
}
.pager LI A {
	text-decoration: none;
}
.pager LI {
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.pager LI:first-child {
	border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
}
.pager LI:last-child {
	border-right: 1px solid #eee;
	border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
}